= link_to jsvoid, remote: true, data: { 'category-type' => tag.class.to_s, 'category-id' => tag.id }, class: "js--pub-tag--selected--#{ tag.slug } js--pub-tag-rels--delete ptz--btn ptz--size-13 mr5 mb5 b"
  = tag.title